@model MachineCalculator.Models.AppObj

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppData</h4>
    <hr />
    <dt>
        @Html.DisplayNameFor(modelItem => Model.name)
    </dt>
    <dd>
        @Html.DisplayFor(modelItem => Model.name)
    </dd>
    <dt>
        @Html.DisplayNameFor(modelItem => Model.flag)
    </dt>
    <dd>
        @Html.DisplayFor(modelItem => Model.flag)
    </dd>
    @foreach (var subitem in Model.AppParameters)
    {
        <dt>
            @Html.DisplayFor(modelItem => subitem.name)
        </dt>
        <dd>
            @Html.DisplayFor(subModelItem => subitem.load)
        </dd>
    }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
