@model MachineCalculator.Models.AppObj
@Html.Partial("~/Views/Shared/Header.cshtml")
@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<h2>Application details</h2>
<div>
    <a asp-action="Index" style="font-size: 12pt ; font-weight:600">Back to List</a>
</div>
<body style="margin: 10px">
    <div>
        <h4>AppData</h4>
        <hr />
        <dt>
            @Html.DisplayNameFor(modelItem => Model.name)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => Model.flag)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.flag)
        </dd>
        @{
            string[] units = { "mHz/core", "MB", "Mb/s", "Mb", "", "" };
        }
        @foreach (var subitem in Model.AppParameters)
        {
            <dt>
                @Html.DisplayFor(modelItem => subitem.name),
                @units[Model.AppParameters.IndexOf(subitem)]
            </dt>
            <dd>
                @Html.DisplayFor(subModelItem => subitem.load)
            </dd>
        }
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" style="font-size: 12pt ; font-weight:600">Edit</a> |
    </div>
</body>